<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327022017359-s5vcoj64rctjh67lflfek3bbs3jnf1m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327022017359-s5vcoj64rctjh67lflfek3bbs3jnf1m5</string>
	<key>API_KEY</key>
	<string>AIzaSyDaars8owl4oAOToXN2YQdh8SiROkL75KI</string>
	<key>GCM_SENDER_ID</key>
	<string>327022017359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ehaba</string>
	<key>PROJECT_ID</key>
	<string>ehaba-14805</string>
	<key>STORAGE_BUCKET</key>
	<string>ehaba-14805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327022017359:ios:474880e2add4923dcf633a</string>
	<key>DATABASE_URL</key>
	<string>https://ehaba-14805-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>